<div id="wiki-wrapper" class="markdown-body">
<h2>{{title}}</h2>
<div id="login" class="login_form">
  <h3>{{subtext}}</h3>
  {{#can_retry}}
  <a href="{{loginurl}}">Try again</a>
  {{/can_retry}}
</div>
</div>
